@model List<Producto>
@{

    List<int> idsProductos = Context.Session.GetObject<List<int>>("IdProductos");

    decimal total = 0;
    @if (Model != null)
    {
        foreach (Producto pro in Model)
        {
            total += pro.Precio;
        }
    }
}
@if (Context.Session.GetObject<List<int>>("FAVORITOS") == null)
{
    <h1 style="text-align:center;font-family: Raleway;">No hay Favoritos</h1>
}

@if(Model != null)
{
    

<div class="shopping-cart">
    <!-- Title -->
    @foreach (Producto pro in Model)
    {
        <div class="item">
            <div class="buttons">
                <span class="delete-btn"></span>
                <span class="like-btn"></span>
            </div>
            <div class="description">
                <label>@pro.Nombre_producto</label>
                <input class="form-control" type="hidden" name="idproducto" value="@pro.IdProducto">


            </div>

            <div class="description">
                <label>@pro.Precio</label>
                <input class="form-control" type="hidden" name="precio" value="@pro.Precio" />
            </div>

           
            <a asp-controller="Carta" asp-action="CarritoProductos" asp-route-ideliminar="@pro.IdProducto" class="delete-btn"><img src="~/images/remove.png" /></a>

        </div>
    }
   
   
</div>
}